{% extends 'home/base.html' %}

{% load staticfiles %}

{% block page_title %}Blog{% endblock %}

{% block mainpage %}

<section class="section section--top">
    <h2 class="title title--tagline">Software</br>Developer</h2>
</section>

<section id="about" class="section section--border-top">
    <div class="row row--title">
        <h3 class="title title--section">Blog</h3>
        <div class="social">
            <a class="social__icon social__icon--git" target="_blank" href="https://www.github.com/bonnieappleton"></a>
            <a class="social__icon social__icon--twitter" target="_blank" href="https://twitter.com/bonnie_appleton"></a>
        </div>
    </div>
    <div class="row row--mobile-col">
        <div class="column-container thumbnail-container">
            <img class="thumbnail thumbnail--avatar" src="{% static 'img/bonnieappleton.jpg' %}" alt="avatar-image"></img>
            <a class="button button--mint button--full" href="{% url 'contact' %}">Contact Me</a>
            <p>I blog about all things tech, diversity and maker related</p>
        </div>
        <div class="column-container">
            {% for post in posts %}
                <div class="text">
                    <h3>{{ post.title }}</h3>
                    <p>published: {{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}