{% extends 'home/base.html' %}

{% load staticfiles %}

{% block page_title %}Contact{% endblock %}

{% block mainpage %}
<section class="section section--narrow">
    <div class="row row--title">
        <h2 class="title title--section">Get in touch</h2>
        <div class="social">
            <a class="social__icon social__icon--git" target="_blank" href="https://www.github.com/bonnieappleton"></a>
            <a class="social__icon social__icon--twitter" target="_blank" href="https://twitter.com/bonnie_appleton"></a>
        </div>
    </div>
    <div class="row">
        <form class="contact-form" role="form" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="button button--yellow button--full" type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}