{% extends 'home/base.html' %}

{% load staticfiles %}

{% block page_title %}Home{% endblock %}

{% block mainpage %}

    <section class="section section--top">
        <h2 class="title title--tagline">Senior</br>Software</br>Developer</h2>
    </section>

    <section id="about" class="section section--border-top">
        <div class="row row--title">
            <h3 class="title title--section">About Me</h3>
            <div class="social">
                <a class="social__icon social__icon--git" target="_blank" href="https://www.github.com/bonnieappleton"></a>
                <a class="social__icon social__icon--twitter" target="_blank" href="https://twitter.com/bonnie_appleton"></a>
            </div>
        </div>
        <div class="row row--mobile-col">
            <div class="column-container thumbnail-container">
                <img class="thumbnail thumbnail--avatar" src="{% static 'img/bonnieappleton.jpg' %}" alt="avatar-image"/>
                <a class="button button--mint button--full" href="{% url 'contact' %}">Contact Me</a>
            </div>
            <div class="column-container">
                <div class="text">
                    <p>
                        I am a senior software developer at
                        <a class="link" href="https://www.thoughtworks.com/" target="_blank">ThoughtWorks</a>.
                        I love working on social good projects and I am passionate about improving diversity in the tech
                        industry. I believe that tech can be used to make the world a better place!
                    </p>
                    <p>
                        I am a versatile developer with a broad range of experience, having started work as a QA before
                        moving into development. I have worked on front end and back end with a variety of languages,
                        both object-oriented and functional. At ThoughtWorks I have learnt software development best
                        practices such as test driven development, continuous integration, pair programming and working
                        in an autonomous team.
                    </p>
                    <p>
                        Outside of work I like to create - whether it's artwork (which I share on
                        <a class="link" href="https://www.instagram.com/bonbonrebonart/" target="_blank">Instagram</a>),
                        making my own clothes, or trying to perfect my ramen recipe.
                        I love the outdoors and a perfect day would be sat by a campfire with a cup of tea and an
                        absorbing novel.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio" class="section section--border-top">
        <div class="row row--title">
            <h3 class="title title--section">Portfolio</h3>
        </div>
        <div class="row row--mobile-col">
            <div class="thumbnail-container">
                <a class="image-link" href="https://www.bauhausconsultancy.com/" target="_blank">
                    <img class="thumbnail" src="{% static 'img/bauhaus-site.png' %}" alt="Bauhaus website" />
                </a>
            </div>
            <div class="text">
                <h4>Bauhaus Consultancy</h4>
                <p>
                    This was a freelance project where I designed and developed a site for Bauhaus Consultancy. Their
                    company assists software transformations in the construction industry and they wanted somewhere to
                    explain their mission and where potential clients could contact them.
                </p>
                <p>
                    Main technologies: Python/Django, HTML 5, CSS3, Sass.
                </p>
                <p>
                    <a class="link" href="https://www.bauhausconsultancy.com/" target="_blank">
                        https://www.bauhausconsultancy.com/
                    </a>
                </p>
            </div>
        </div>

        <div class="row row--mobile-col">
            <div class="thumbnail-container">
                <a class="image-link" href="https://www.photocrowd.com/" target="_blank">
                    <img class="thumbnail" src="{% static 'img/photocrowd_screenshot.jpg' %}" />
                </a>
            </div>
            <div class="text">
                <h4>Photocrowd</h4>
                <p>
                    I spent a year at Photocrowd where I worked on the back and front end of
                    the website and gained a wealth of experience in all aspects of the web
                    development process from requirements gathering through to deployment.
                </p>
                <p>
                    Main technologies: Python/Django, Javascript/React, HTML 5, CSS3.
                </p>
                <p>
                    <a class="link" href="https://www.photocrowd.com/" target="_blank">
                        https://www.photocrowd.com/
                    </a>
                </p>
            </div>
        </div>
        <div class="row row--title">
            <h3 class="title title--section">Projects</h3>
        </div>
        <div class="row row--mobile-col">
            <div class="thumbnail-container">
                <a class="image-link" href="{% url 'js-rainbow-canvas' %}" target="_blank">
                    <img class="thumbnail" src="{% static 'img/rainbow-unicorn.png' %}" />
                </a>
            </div>
            <div class="text">
                <h4>Rainbow canvas</h4>
                <p>
                    I wanted to explore the HTML canvas element with a fun JavaScript project that makes use of event
                    listeners and hsl colors. You can draw a rainbow unicorn! Hooray!
                </p>
                <p>
                    Main technologies: HTML canvas, JavaScript
                </p>
                <p>
                    <a class="link" href="{% url 'js-rainbow-canvas' %}" target="_blank">
                        Try it out >
                    </a>
                </p>
            </div>
        </div>
    </section>
    
    <section id="skills" class="section section--border-top">
        <div class="row row--title">
            <h3 class="title title--section">Skills</h3>
        </div>
        <div class="row row--mobile-col">
            <div class="skills-block">
                <a class="accordion accordion--yellow active" href="#" data-accordion="accordion-language">
                    <h4 class="accordion__title">Languages</h4>
                    <div class="accordion__close"></div>
                </a>
                <div id="accordion-language" class="text">
                    <ul class="skills-block__list">
                        <li>Clojure</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
            <div class="skills-block">
                <a class="accordion active" href="#" data-accordion="accordion-frameworks">
                    <h4 class="accordion__title">Libraries</h4>
                    <div class="accordion__close"></div>
                </a>
                <div id="accordion-frameworks" class="text">
                    <ul class="skills-block__list">
                        <li>Django</li>
                        <li>React</li>
                        <li>Redux</li>
                        <li>Sass</li>
                        <li>Vavr</li>
                        <li>Clara</li>
                    </ul>
                </div>
            </div>
            <div class="skills-block">
                <a class="accordion accordion--red active" href="#" data-accordion="accordion-tools">
                    <h4 class="accordion__title">Tools</h4>
                    <div class="accordion__close" href="#"></div>
                </a>
                <div id="accordion-tools" class="text">
                    <ul class="skills-block__list">
                        <li>Git</li>
                        <li>GoCD</li>
                        <li>RabbitMQ</li>
                        <li>PostgreSQL</li>
                        <li>MongoDB</li>
                        <li>Kibana</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
