@import 'variables';

.books-form {
    width: 100%;
    padding:20px;
    max-width:400px;
    margin:50px auto;
    
    &__search {
        color: $color-white;
        margin: 0;
        text-align: center;
        outline:0;
        border: 3px solid $color-mint;
        background-color: $color-grey;
        width: 120%;
        left: -10%;
        position: relative;
        top: 10px;
        z-index: 2;
        font-size: 40px;
    }

    &__suggestions {
        margin: 12px 0;
        padding: 0;
        position: relative;
    }

    &__suggestion {
        color: $color-white;
        background: $color-grey;
        list-style: none;
        border-bottom: 3px solid $color-black;
        margin: 0;
        padding: 20px;
        transition: background 0.2s;
        display: flex;
        justify-content: space-between;
        text-transform: capitalize;
    }
}
