.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    input,
    textarea {
        color: $color-white;
        background-color: $color-grey;
        border: 3px solid $color-mint;
        padding: 5px;
        margin: 10px 0 15px;
        font-size: 14px;
    }

    button {
        border: 0;
    }
}