@import 'variables';

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $color-grey;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    color: $color-white;
    background-color: $color-black;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: auto;
    max-width: 1200px;
}

.title {
    margin: 0;

    &--main {
        font-family: 'BioRhyme', serif;
        font-size: 45px;
        color: $color-white;
        height: 100%;

        &:hover {
            color: $color-black;
            background-color: $color-white;
        }

        @media(max-width: $tablet-breakpoint) {
            font-size: 30px;
        }
    }

    &--tagline {
        font-family: 'Zilla Slab Highlight', cursive;
        font-size: 70px;
        text-align: right;

        @media(max-width: $tablet-breakpoint) {
            font-size: 50px;
        }
    }

    &--section {
        font-weight: 100;
        font-size: 30px;

        @media(max-width: $tablet-breakpoint) {
            font-size: 24px;
        }
    }
}

.header {
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 3px solid $color-white;

    &__nav {
        -webkit-display: flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
        margin-right: -3px;

        &__menu {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 76px;
            right: 0;
            z-index: 1;
            padding: 0 16px;
            background-color: $color-black;

            @media(max-width: 383px) {
                top: 97px;
                width: 100%;
            }
        }

        &--desktop {
            @media(max-width: $tablet-breakpoint) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            @media(max-width: $tablet-breakpoint) {
                display: flex;
            }
        }
    }
}

.button {
    color: $color-black;
    font-size: 20px;
    margin: 15px 3px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;

    @media(max-width: $tablet-breakpoint) {
        font-size: 16px;
    }

    &:hover {
        background-color: $color-white;
        cursor: pointer;
    }

    &--yellow {
        background-color: $color-yellow;
    }

    &--mint {
        background-color: $color-mint;
    }

    &--red  {
        background-color: $color-red;
    }

    &--full {
        width: 100%;
        margin: 15px 0;
    }
}

.footer {
    border-top: 3px solid $color-white;
    padding: 10px 20px;
    font-size: 12px;
}

.section {
    -webkit-display: flex;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;

    &--narrow {
        max-width: 500px;
        margin: auto;
    }

    &--top {
        -webkit-align-items: flex-end;
        -webkit-justify-content: center;
        align-items: flex-end;
        justify-content: center;
        background-image: url('../img/fireworks.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;

        @media(max-width: $tablet-breakpoint) {
            height: 200px;
        }
    }

    &--border-top {
        border-top: 3px solid $color-red;
    }
}

.row {
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 900px;
    width: 100%;

    &--title {
        align-items: center;
    }

    &--mobile-col {
        @media(max-width: $tablet-breakpoint) {
            -webkit-align-items: center;
            -webkit-flex-direction: column;
            align-items: center;
            flex-direction: column;
        }
    }
}

.thumbnail {
    width: 200px;
    height: 200px;

    &--avatar {
        border-radius: 50%;
    }
}

.thumbnail-container {
    margin-right: 30px;
    max-width: 200px;

    @media(max-width: $tablet-breakpoint) {
        margin: 0 0 15px;
    }
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.text {
    background-color: $color-grey;
    padding: 0 20px;
    margin: 0;
    flex-grow: 0;
    width: 100%;

    &--grow {
        flex-grow: 1;
    }
}

.accordion {
    width: 100%;
    padding: 0 15px;
    margin: 15px 0 0;
    background-color: $color-mint;
    color: $color-black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background-color: $color-white;
    }

    &__title {
        font-weight: normal;
    }

    &__close {
        background-image: url('../img/plus-icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        transform: rotate(45deg);
        transition-duration: 0.3s;
    }

    &--yellow {
        background-color: $color-yellow;
    }

    &--red {
        background-color: $color-red;
    }
}

.bullets {
    padding-left: 16px;
}

.skills-block {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    width: 100%;
    max-width: 300px;
    margin-top: 0;

    &__list {
        list-style: none;
        padding: 15px 0;
        margin: 0;
        flex-grow: 1;
    }
}

.link {
    text-decoration: none;
    color: $color-mint;

    &:hover {
        color: $color-white;
    }
}

.image-link:hover {
    opacity: 0.8;
}

.social {
    display: flex;
    justify-content: flex-end;

    &__icon {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $color-mint;
        background-position: center;

        &:hover {
            background-color: $color-white;
        }

        @media(max-width: $tablet-breakpoint) {
            height: 40px;
            width: 40px;
        }

        &--git {
            background-image: url('../img/icon-github.png');
            background-size: 60px;
        }

        &--twitter {
            background-image: url('../img/twitter-256.png');
            background-size: 30px;
        }

        &--email {
            background-image: url('../img/mail-icon.png');
            background-size: 30px;
        }
    }
}

.hidden {
    display: none;
}

.hidden-mobile {
    @media(max-width: $tablet-breakpoint) {
        display: none;
    }
}
