$color-mint: rgb(122, 206, 206);
$color-yellow:  rgb(241, 230, 81);
$color-red: rgb(245, 67, 11);
$color-grey: #252525;
$color-white: #ffffff;
$color-black: #000000;

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $color-grey;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    color: $color-white;
    background-color: $color-black;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: auto;
    max-width: 1200px;
}

.title {
    margin: 0;

    &--main {
        font-family: 'BioRhyme', serif;
        font-size: 45px;

        @media(max-width: 767px) {
            font-size: 30px;
        }
    }

    &--tagline {
        font-family: 'Zilla Slab Highlight', cursive;
        font-size: 70px;
        text-align: right;

        @media(max-width: 767px) {
            font-size: 60px;
        }
    }

    &--section {
        font-weight: 100;
    }
}

.header {
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 5px 20px;

    &__nav {
        -webkit-display: flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
        margin-right: -3px;
    }

    &__link {
        color: $color-black;
        font-size: 20px;
        margin: 3px;
        padding: 10px 15px;
        text-decoration: none;

        @media(max-width: 767px) {
            display: none;
        }

        &--about {
            background-color: $color-yellow;
        }

        &--portfolio {
            background-color: $color-mint;
        }

        &--skills {
            background-color: $color-red;
        }

        &--menu {
            background-color: $color-mint;
            display: none;
            @media(max-width: 767px) {
                display: block;
            }
        }
    }
}

.footer {
    border-top: 3px solid $color-white;
    padding: 10px 20px;
}

.section {
    -webkit-display: flex;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;

    &--top {
        -webkit-align-items: flex-end;
        -webkit-justify-content: center;
        align-items: flex-end;
        justify-content: center;
        background-image: url('../img/fireworks.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        border-top: 3px solid $color-white;
    }

    &--about {
        border-top: 3px solid $color-yellow;
        border-left: 3px solid $color-yellow;
    }

    &--portfolio {
        border-top: 3px solid $color-mint;
        border-right: 3px solid $color-mint;
    }

    &--skills {
        border-top: 3px solid $color-red;
        border-left: 3px solid $color-red;
    }
}

.row {
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 900px;
    width: 100%;

    @media(max-width: 767px) {
        -webkit-align-items: center;
        -webkit-flex-direction: column;
        align-items: center;
        flex-direction: column;
    }
}

.thumbnail {
    width: 200px;
    height: 200px;
    margin-right: 20px;

    @media(max-width: 767px) {
        margin: 20px;
    }

    &--avatar {
        border-radius: 50%;
    }
}

.text {
    background-color: $color-grey;
    padding: 20px;
    margin: 0;
}

.social {
    display: flex;
    justify-content: flex-end;

    &__icon {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 5px;

        &:hover {
            background-color: $color-grey;
        }

        &--git {
            background-image: url('../img/white-github-64.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}