@import 'variables';

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $color-grey;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    color: $color-white;
    background-color: $color-black;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: auto;
    max-width: 1200px;
}

.title {
    margin: 0;

    &--main {
        font-family: 'BioRhyme', serif;
        font-size: 45px;

        @media(max-width: $tablet-breakpoint) {
            font-size: 30px;
        }
    }

    &--tagline {
        font-family: 'Zilla Slab Highlight', cursive;
        font-size: 70px;
        text-align: right;

        @media(max-width: $tablet-breakpoint) {
            font-size: 50px;
        }
    }

    &--section {
        font-weight: 100;
        font-size: 22px;
    }
}

.header {
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 5px 20px;

    &__nav {
        -webkit-display: flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
        margin-right: -3px;

        &__menu {
            display: flex;
            position: absolute;
            top: 62px;
            right: 0;
            flex-direction: column;
            z-index: 1;
            padding: 16px;
            background-color: $color-black;

            @media(max-width: 383px) {
                top: 86px;
            }
        }

        &--desktop {
            @media(max-width: $tablet-breakpoint) {
                display: none;
            }
        }

        &--mobile {
            display: none;
            @media(max-width: $tablet-breakpoint) {
                display: flex;
            }
        }
    }
}

.button {
    color: $color-black;
    font-size: 20px;
    margin: 3px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;

    &:hover {
        background-color: $color-white;
    }

    &--yellow {
        background-color: $color-yellow;
    }

    &--mint {
        background-color: $color-mint;
    }

    &--red  {
        background-color: $color-red;
    }

    &--contact {
        margin: 15px 0;
        width: 100%;
    }
}

.footer {
    border-top: 3px solid $color-white;
    padding: 10px 20px;
}

.section {
    -webkit-display: flex;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;

    &--top {
        -webkit-align-items: flex-end;
        -webkit-justify-content: center;
        align-items: flex-end;
        justify-content: center;
        background-image: url('../img/fireworks.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        border-top: 3px solid $color-white;

        @media(max-width: $tablet-breakpoint) {
            height: 200px;
        }
    }

    &--about {
        border-top: 3px solid $color-yellow;
        border-left: 3px solid $color-yellow;
    }

    &--portfolio {
        border-top: 3px solid $color-mint;
        border-right: 3px solid $color-mint;
    }

    &--skills {
        border-top: 3px solid $color-red;
        border-left: 3px solid $color-red;
    }
}

.row {
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 900px;
    width: 100%;

    &--mobile-col {
        @media(max-width: $tablet-breakpoint) {
            -webkit-align-items: center;
            -webkit-flex-direction: column;
            align-items: center;
            flex-direction: column;
        }
    }
}

.thumbnail {
    width: 200px;
    height: 200px;

    &--avatar {
        border-radius: 50%;
    }
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;

    @media(max-width: $tablet-breakpoint) {
        margin: 0;
    }
}

.text {
    background-color: $color-grey;
    padding: 0 20px;
    margin: 0;
    flex-grow: 1;

    @media(max-width: $tablet-breakpoint) {
        margin-top: 20px;
    }

    &--bullets {
        color: $color-black;
        display: flex;
        flex-direction: column;
        flex-basis: 33%;
        width: 100%;
        max-width: 300px;
        padding-bottom: 15px;
        margin-top: 0;
    }

    &--yellow {
        background-color: $color-yellow;
    }

    &--mint {
        background-color: $color-mint;
    }

    &--red {
        background-color: $color-red;
    }

    &__list {
        flex-basis: 50%;
        list-style: none;
        padding-left: 0;
        margin: 0;

        @media(max-width: $tablet-breakpoint) {
            flex-basis: 100%;
        }
    }
}

.feature-text {
    padding: 0 20px;
    margin: 0;
    border: 3px solid $color-red;
}

.link {
    text-decoration: none;
    color: $color-mint;

    &:hover {
        color: $color-yellow;
    }
}

.image-link:hover {
    opacity: 0.8;
}

.social {
    display: flex;
    justify-content: flex-end;

    &__icon {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $color-mint;
        background-position: center;

        &:hover {
            background-color: $color-white;
        }

        @media(max-width: $tablet-breakpoint) {
            height: 40px;
            width: 40px;
        }

        &--git {
            background-image: url('../img/icon-github.png');
            background-size: 60px;
        }

        &--twitter {
            background-image: url('../img/twitter-256.png');
            background-size: 30px;
        }

        &--email {
            background-image: url('../img/mail-icon.png');
            background-size: 30px;
        }
    }
}

.hidden {
    display: none;
}
