$color-mint: rgb(122, 206, 206);
$color-yellow:  rgb(241, 230, 81);
$color-red: rgb(245, 67, 11);
$color-red-background: #f1561a;
$color-grey: #252525;
$color-white: #ffffff;
$color-black: #000000;

$tablet-breakpoint: 767px;
