html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #252525; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  color: #ffffff;
  background-color: #000000;
  font-family: helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: auto;
  max-width: 1200px; }

.title {
  margin: 0; }
  .title--main {
    font-family: 'BioRhyme', serif;
    font-size: 45px; }
    @media (max-width: 767px) {
      .title--main {
        font-size: 30px; } }
  .title--tagline {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 70px;
    text-align: right; }
    @media (max-width: 767px) {
      .title--tagline {
        font-size: 50px; } }
  .title--section {
    font-weight: 100;
    font-size: 22px; }

.header {
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 5px 20px; }
  .header__nav {
    -webkit-display: flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    margin-right: -3px; }
    .header__nav__menu {
      display: flex;
      position: absolute;
      top: 62px;
      right: 0;
      flex-direction: column;
      z-index: 1;
      padding: 16px;
      background-color: #000000; }
      @media (max-width: 383px) {
        .header__nav__menu {
          top: 86px; } }
    @media (max-width: 767px) {
      .header__nav--desktop {
        display: none; } }
    .header__nav--mobile {
      display: none; }
      @media (max-width: 767px) {
        .header__nav--mobile {
          display: flex; } }

.button {
  color: #000000;
  font-size: 20px;
  margin: 3px;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center; }
  .button:hover {
    background-color: #ffffff; }
  .button--yellow {
    background-color: #f1e651; }
  .button--mint {
    background-color: #7acece; }
  .button--red {
    background-color: #f5430b; }
  .button--contact {
    margin: 15px 0;
    width: 100%; }

.footer {
  border-top: 3px solid #ffffff;
  padding: 10px 20px; }

.section {
  -webkit-display: flex;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px; }
  .section--top {
    -webkit-align-items: flex-end;
    -webkit-justify-content: center;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../img/fireworks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-top: 3px solid #ffffff; }
    @media (max-width: 767px) {
      .section--top {
        height: 200px; } }
  .section--about {
    border-top: 3px solid #f1e651;
    border-left: 3px solid #f1e651; }
  .section--portfolio {
    border-top: 3px solid #7acece;
    border-right: 3px solid #7acece; }
  .section--skills {
    border-top: 3px solid #f5430b;
    border-left: 3px solid #f5430b; }

.row {
  -webkit-display: flex;
  -webkit-justify-content: space-between;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  max-width: 900px;
  width: 100%; }
  @media (max-width: 767px) {
    .row--mobile-col {
      -webkit-align-items: center;
      -webkit-flex-direction: column;
      align-items: center;
      flex-direction: column; } }

.thumbnail {
  width: 200px;
  height: 200px; }
  .thumbnail--avatar {
    border-radius: 50%; }

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; }
  @media (max-width: 767px) {
    .thumbnail-container {
      margin: 0; } }

.text {
  background-color: #252525;
  padding: 0 20px;
  margin: 0;
  flex-grow: 1; }
  @media (max-width: 767px) {
    .text {
      margin-top: 20px; } }
  .text--bullets {
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    width: 100%;
    max-width: 300px;
    padding-bottom: 15px;
    margin-top: 0; }
  .text--yellow {
    background-color: #f1e651; }
  .text--mint {
    background-color: #7acece; }
  .text--red {
    background-color: #f5430b; }
  .text__list {
    flex-basis: 50%;
    list-style: none;
    padding-left: 0;
    margin: 0; }
    @media (max-width: 767px) {
      .text__list {
        flex-basis: 100%; } }

.feature-text {
  padding: 0 20px;
  margin: 0;
  border: 3px solid #f5430b; }

.link {
  text-decoration: none;
  color: #7acece; }
  .link:hover {
    color: #f1e651; }

.image-link:hover {
  opacity: 0.8; }

.social {
  display: flex;
  justify-content: flex-end; }
  .social__icon {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7acece;
    background-position: center; }
    .social__icon:hover {
      background-color: #ffffff; }
    @media (max-width: 767px) {
      .social__icon {
        height: 40px;
        width: 40px; } }
    .social__icon--git {
      background-image: url("../img/icon-github.png");
      background-size: 60px; }
    .social__icon--twitter {
      background-image: url("../img/twitter-256.png");
      background-size: 30px; }
    .social__icon--email {
      background-image: url("../img/mail-icon.png");
      background-size: 30px; }

.hidden {
  display: none; }

/*# sourceMappingURL=home.css.map */
